<div class="col-lg-3 sidebar">
  <div class="well sidebar-nav">
    <% @posts.take(3).each do |post| %>
    	<%= link_to post do %>
    		<div class="row">
    		            <div class="col-md-12 imgesuggestions">
    		            <div class="bd">
    		            <span class="badge"><%= post.pictures.count %></span>
    		            </div>
    		            <% if post.pictures.present? %>
    						<%= image_tag post.pictures.first.image.url(:thumb), class: "imgethumb" %>
    						<% else %>
    						<%= image_tag "default_image.png", class: "imgethumb"%>
    			        <% end %>
    		            </div>
    		            <div class="col-md-12 post-info">
    		                <p class="titlesuggestions text-center"><%= post.title %></p>
    		                <p class="picesuggestions text-center"><%= post.price %> DH</p>
    		            </div>
    		</div>
      <% end %>
    <% end %>
  </div>
</div>
