
<%= form_for @post, html: { class: 'form-horizontal', multipart: true } do |f| %>

<div class="form-group">
  <%= f.label :title %>
   <%= f.text_field :title, :class => 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :description, :class => 'control-label' %>
  <%= f.text_area :description, :class => 'form-control' %>

</div>

<div class="form-group">
   <%= f.label  :price, :class => 'control-label' %>
   <%= f.number_field  :price, :class => 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :city, :class => 'control-label' %>
   <%= f.text_field :city, :class => 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :phone, :class => 'control-label' %>
   <%= f.telephone_field :phone, :class => 'form-control' %>
</div>

<div class="form-group">
    <%= f.fields_for :pictures do |builder| %>
      <% if builder.object.new_record? %>
        <%= f.label :pictures, :class => 'control-label' %>
        <%= file_field_tag "images[]", type: :file, multiple: true %>
        <% else %>

      <% end %>
    <% end %>
</div>

  <%= f.submit nil, :class => 'btn btn-primary' %>
<% end %>