<% @posts.each do |post| %>
	<%= link_to post do %>
		<div class="row padding-top-15">
		            <div class="col-md-3"><span class="badge"></span>


					<% post.pictures.each_with_index do |picture, i|%>
						<% if i == 0 %>
						<%= image_tag picture.image.url(:thumb), class: "img-responsive" %> 
						<% end %>
					<% end %>
					            
		                   



		            </div>
		            <div class="col-md-9">
		                <h3 class="pull-right"><%= post.price %> DH</h3>
		                <h3><%= post.title %></h3>
		                <h4><%= post.city %></h4>
		                <h4><%= post.id %></h4>
		            </div>
		</div>
  <% end %>
<% end %>
