<div class=" col-lg-12 bord">
<% if @myposts.present? %>
	<% @myposts.each do |post| %>
		<%= link_to post do %>
			<div class="row padding-top-15">

			            <div class="col-xs-6 col-md-3 imgethumbwarp"><span class="badge"><%= post.pictures.count %></span>
			            <% if post.pictures.present? %>
			                    <%= image_tag post.pictures.first.image.url(:thumb), class: "imgethumb" %> 
			                <% else %>
							    <%= image_tag "default_image.png", class: "imgethumb"%>
			            <% end %>
			            </div>

			            <div class="col-md-9">
			                <p class="lead pull-right"><%= post.price %> DH</p>
			                <p class="lead"><%= post.title %></p>
			                <p><%= post.city.name %></p>
			            </div>

			            <div class="btn-group" role="group" aria-label="...">
				  <%= link_to edit_post_path(post) do%>
				  <button type="button" class="btn btn-primary">Edit <%= fa_icon "pencil"%></button>
				  <%end%>
				  <%= link_to post,  method: :delete, data: { confirm: 'Click Sure! to Delete this item', commit: 'Sure!',cancel: 'cancel'} do %>
				 <button type="button" class="btn btn-danger">Delete <%= fa_icon "trash-o" %></button>
				  <% end %>
				</div>

			</div>
		<% end %>
	<% end %>
<% else %>
	<h2 class="text-center">You Have 0 posts </h2>

	  <div class="text-center">
	  <%=link_to  new_post_path do %>
		 <button type="button" class="btn btn-lg btn-success create" >
		    Create one now !
		  </button>
	  <% end %>
	  </div>

<% end %>
</div>
<div class="text-center">
<%= will_paginate @myposts, renderer: BootstrapPagination::Rails, previous_label: h("back"), next_label: h("next") %>
</div>