<h1>search</h1>
<% @posts.each do |post| %>
	<%= link_to post do %>
		<div class="row padding-top-15">
		            <div class="col-md-3">
		            <span class="badge"><%= post.pictures.count %></span>
		            <% if post.pictures.present? %>
						<%= image_tag post.pictures.first.image.url(:thumb), class: "img-responsive" %>
						<% else %>
						<%= image_tag "default_image.png", class: "img-responsive"%> 
					<% end %>
		            </div>
		            <div class="col-md-9">
		                <h3 class="pull-right"><%= post.price %> DH</h3>
		                <h3><%= post.title %></h3>
		                <h4><%= post.city %></h4>
		            </div>
		</div>
  <% end %>
<% end %>
