<div class="clearfix">
    <h2  class="col-md-6"><%= @post.title %></h2>
    <h3 class="col-md-6 col-md-push-4 "><%= @post.price %> DH</h3>
</div>


<%if @postpics.present? %>
 <%= render 'CarouselWithContent' %>
 <% else %>
 <h4 class="text-center">no images provided from the post owner</h4>
<% end %>
  <div class="col-md-6">
    <h2><%= @post.price %> DH</h2>
    <p ><%= @post.description %></p>
  </div>
  <div class="col-md-6">
    <h2><%= @PostOwner.name %> </h2>
    <p ><%= @PostOwner.email %></p>
  </div>
