<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "AvitoClone2" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>
   <%= javascript_include_tag "application" %>

  </head>
  <body>
      <%= render 'partials/navbar' %>
       <% if current_page?(root_path) || current_page?(search_posts_path) || current_page?(posts_path)%> 
       <%# ----- this condition is to show the search bar partial only in index and search pages ----- %>
          <%= render 'partials/searchbar' %>
      <% end %>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
<%= render 'partials/sidebar'%>
      </div><!--/row-->

      <footer>
        <p>&copy; Company 2016</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
